name: wisper
description: A new Flutter project.

# Prevent accidental publishing to pub.dev.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.15.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  stream_chat_flutter: ^3.4.0 # To add chat functionality
  rive: ^0.8.1 # To add animations


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/rive_stickers.riv
    - assets/stream_reactions.riv

  # Enable generation of localized Strings from arb files.
  generate: true
    
